# 🔧 Core Flask
flask==3.1.0
jinja2==3.1.6
werkzeug==3.1.3
itsdangerous==2.2.0
click==8.1.8
blinker==1.9.0
MarkupSafe==3.0.2
WeasyPrint

# 🔍 Scans & Réseau
python-nmap==0.7.1
scapy
psutil>=5.9.0
tqdm

# 🔐 Sécurité & Chiffrement
cryptography>=41.0.0
bcrypt>=4.0.0
requests>=2.31.0

# ⚙️ Divers utilitaires
python-dotenv
zipp==3.21.0
importlib-metadata==8.6.1
